
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Author/Views/Shared/AuthorLayoutPage.cshtml";
}

@model MyBlog.UI.Areas.Author.Models.VM.AuthorArticleVM
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/Author/AuthorHome/AuthorHomeIndex"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/Author/AuthorHome/AuthorHomeIndex">ArticleList</a></li>
        <li class="active">Add Article</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Article</h3>
                </div>
                <form action="/Author/AuthorArticle/Add" method="post" role="form" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="Header">Header</label>
                            <input type="text" name="Header" class="form-control" placeholder="Header">
                        </div>
                        <div class="form-group">
                            <label for="SubTitle">SubTitle</label>
                            <input type="text" name="SubTitle" class="form-control" placeholder="SubTitle">
                        </div>
                        <div class="form-group">
                            <label for="Content">Content</label>
                            <input type="text" name="Content" class="form-control" placeholder="Content">
                        </div>
                        <div class="form-group">
                            <label for="PublishDate">Publish Date</label>
                            <input type="date" name="PublishDate" class="form-control" placeholder="PublishDate">
                        </div>
                        <div class="form-group">
                            <label for="CategoryID"> Choose Category</label>
                            <select name="CategoryID" class="form-control">
                                @foreach (var item in Model.Categories)
                                {
                                    <option value="@item.ID">@item.CategoryName</option>

                                }
                            </select>
                        </div>
                        
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
